*{
margin:0;
padding:0;
box-sizing:border-box;	
font-family: 'Open Sans', sans-serif;
color: #fff;
}

body{
	background-color: #094035;
}

.container{
	width:90%;
}

/*nav*/
nav{
	height: 20vh;
	background-color: #008080;
}
.profilepic{
	height: 15vh;
	width: 15vh;
	border-radius:50%;
	margin-top: 2vh;
}

/*undernav*/

#undernav{
	height: 5vh;
}

#menu-nav, #logout-btn{
	margin-top:1vh;
}
#logout-btn{
	height: 4vh;
	width: auto;
	color: #fff;
}


/*Left side*/

#find-left{
 height: 80vh;
}

/*Right side*/

#find-right{
	background-color: #fff;
	height:80vh;
}



