 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-style {
  background-color: teal;
}

.premiere, footer {
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(9,61,50,1)), color-stop(100%, rgba(0,128,128,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#008080', GradientType=0 );
  padding-bottom: 100px;
  padding-top: 50px;
}

.nav-logo {
  height: 40px;
  width: auto;
  margin-top: 10px;
  margin-left: 30%;
}

.btn-style {
  font-weight: 700;
}

#bg-01 {
  background-image: url(../img/cinema.png);
}

#bg-02 {
  background-image: url(../img/claqueta.jpg);
  background-position: top;

}

#bg-03 {
  background-image: url(../img/Cinema_smartphone.jpeg);
}


#bg-04 {
  background-image: url(../img/movie-poster-light-box-display-frame-cinema-lightbox-light-up-home.jpg);
}


.btn-light {
  margin-top: 30px;
  background-color: #FAFAD2;
  color: teal;
  font-weight: 700;
}

.light-color {
  background-color: #FAFAD2;
}

.title {
  font-weight: 700;
  font-size: 35px;
  color: #FAFAD2;
  text-transform: uppercase;
}

.carousel {
  padding-bottom: 100px;
}


.carousel h4 {
  text-transform: uppercase;
}

#benefit-01, #benefit-02, #benefit-03{
  color:#3F4443;
}

#benefit-01 {
  background-image: url(../img/beneficio01.JPG);
  background-position: bottom;
}

#benefit-02 {
  background-image: url(../img/beneficio02.JPG);
}

#benefit-03{
  background-image: url(../img/coupon-1828620_640.png)
}

.carousel.carousel-slider .carousel-item h2 {
  color: teal;
  font-weight: 700;
}

.facebook-btn {
  background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.fa-facebook {
  padding-right: 10px;
}

.fix-p p {
  margin-top: -10px;
}

.modal-btn-style {
  margin-top: 30px;
  color: #FAFAD2;
  background-color: teal;
  font-weight: 700;
}

.fix-row {
  margin-bottom: 0px;
  margin-top: 100px;
}

div.carousel.initialized {
  min-height: 530px;
  margin-top: -100px;
}

/*Configuramos perfil peliculas*/

#menu {
  margin-left: 32px;
}

#resumenpelicula{
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
}

.card.large {
  height: 100% !important;
  vertical-align: bottom;
}

.premiere-movies h4 {
  color: white;
  font-weight: 700;
  font-size: 24px;
}


#trailer {
  position:absolute;
  height: 100%;
  width: auto;
}


#posteroficial{
  float: left;
  margin-right: 15px;
}

.feature-set {
  float: right;
  width: auto;
  max-height: 100%;
}

.tabs-style {
  font-weight: 700;
}

.tabs .tab a {
  color: teal;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: white;
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(9,61,50,1)), color-stop(100%, rgba(0,128,128,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(9,61,50,1) 0%, rgba(0,128,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#008080', GradientType=0 );
}

#test-swipe-2 input, #test-swipe-1 input {
  height: 15px;
  margin-top: 5px;
}


/* footer */

footer a{
  font-size: 3em;
}

.footer-copyright a{
  font-size: 1em;
}
